/* lo que hacemos aqui es darle la forma que nos indica la imagen 
con la diferencia para dejar el menu a la derecha le dejamos el float right en vez de left*/
#cabecera
{
    background-color: aqua;
}

#menu
{
    background-color: rebeccapurple;
    float: right;
}

#contenido
{
    background-color: red;
    float: left;
}

#pie
{
    background-color: blue;
    clear: both; 
}